
<%- include('./partials/header') %>

    <main> 
        <h5>Hello <%= data.name %> </h5>
        <h5>This is an example of server side rendering.</h5>
    </main>

<%- include('./partials/footer') %>